* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  max-width: 100vw;
}

.video-container {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

header::after {
  content: "";
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.432);
  position: absolute;
  top: 0;
  left: 0;
}

.headline {
  display: flex;
  justify-content: center;
  position: relative;
  top: 50vh;
  color: white;
  z-index: 1;
}

.switch-btn {
  position: relative;
  top: 70vh;
  left: 10%;

  display: flex;
  justify-content: space-around;
  align-items: center;

  height: 30px;
  width: 120px;
  z-index: 1;
  border-radius: 7px;
  border: none;
}

.switch {
  position: absolute;
  top: 0;
  left: 0;
  height: 30px;
  width: 60px;
  background: rgb(93, 215, 255);
  z-index: 9;
  transition: 0.3s;
  border-radius: 7px;
  border: none;
}

.slide-switch .switch {
  left: 50%;
}

.preloader {
  position: fixed;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: visible;
  z-index: 999;
  background: white;
}

.hide-preloader {
    z-index: -999;
    visibility: hidden;
  }